    .comments {
        margin-top: 58px;
        margin-bottom: 14px;
    }

    .comments__list-block {
        padding-left: 0;
    }

    .comments__block {
        list-style-type: none;
        border-bottom: 3px solid #f5f5f5;
        ;
    }

    .comments__block:last-child {
        border-bottom: none;
    }

    .comments__block-logo {
        float: left;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        margin-bottom: 48px;
        background-color: #f5f5f5;
    }

    .comments__block-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .comments_block-img_gray-correct {
        filter: grayscale(1.0);
        margin-top: 45px;
        margin-left: 25px;
    }

    .comments__block-content {
        font-family: Roboto;
        font-weight: 300;
        font-size: 18px;
        color: #221f1f;
    }

    .comments__content-data {
        color: #737272;
        font-size: 13px;
        margin-bottom: 0;
    }

    .comments__content-about {
        margin-top: 0;
        padding-top: 0;
        font-family: Roboto;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
    }

    .comments__content-text {
        margin-top: 0px;
        padding-top: 10px;
        font-size: 16px;
        line-height: 1.9em;
        letter-spacing: 0.1px;
    }