@import url('/css/fonts/fonts.css');
@import url('/css/general/general.css');
@import url('/css/header/header.css');
@import url('/css/menu/menu.css');
@import url('/css/section-lastnews/lastnews-block.css');
@import url('/css/pagination/pagination.css');
@import url('/css/footer/footer.css');
@import url('/css/form/form.css');
@import url('/css/banner/banner_middle.css');
.title {
    margin-top: 13px;
}

.main-header {
    margin-bottom: 8px;
}

.lastnews_block-img_gray-correct {
    filter: grayscale(1.0);
}

.pagination {
    margin-bottom: 50px;
}