@import url('/css/fonts/fonts.css');
@import url('/css/general/general.css');
@import url('/css/header/header.css');
@import url('/css/menu/menu.css');
@import url('/css/section-price/price-block.css');
@import url('/css/footer/footer.css');
.main {
    max-width: 83%;
}

.title {
    /* margin-top: 10px; */
    margin-bottom: 5px;
}

.main-header {
    margin-bottom: 10px;
}

.content__partners-block {
    width: 100%;
}

.partners-block__list {
    padding-left: 0;
    display: block;
    font-size: 0;

}

.partners-block__item {
    list-style: none;
    display: inline-block;
    width: 30%;
    margin-left: 14px;
    margin-bottom: 40px;
    filter: grayscale(1);
}

.partners-block__item:hover {
    filter: grayscale(0);
}