@import url('/css/fonts/fonts.css');
@import url('/css/general/general.css');
@import url('/css/header/header.css');
@import url('/css/menu/menu.css');
@import url('/css/section-comments/lastnews-block.css');
@import url('/css/pagination/pagination.css');
@import url('/css/footer/footer.css');
.price__item {
    list-style: none;
    display: inline-block;
    width: 252px;
    height: 350px;
    vertical-align: top;
}

.price__item-block__img {
    width: 250px;
    height: 153px;
    border-radius: 3%;
}

.price__item-block__img-text {
    color: #5dd1f8;
}

.bg1 {
    background-image: url('/img/price/bg1.jpg');
}

.bg2 {
    background-image: url('/img/price/bg1.jpg');
}

.bg3 {
    background-image: url('/img/price/bg1.jpg');
}

.bg4 {
    background-image: url('/img/price/bg1.jpg');
}

.bg5 {
    background-image: url('/img/price/bg1.jpg');
}

.bg6 {
    background-image: url('/img/price/bg1.jpg');
}

.opacity__bg {
    background-color: rgb(39, 39, 62);
    opacity: 0.851;
    height: 100%;
    width: 100%;
}

span {
    color: #fff;
}

.price__bg2 {
    background: url('/img/price/bg1.jpg') center center no-repeat;
}

.price__item__img__3 {
    background: url('/img/price/bg1.jpg') center center no-repeat;
}

.price__item__img__4 {
    background: url('/img/price/bg1.jpg') center center no-repeat;
}

.price__item__img__5 {
    background: url('/img/price/bg1.jpg') center center no-repeat;
}

.price__item__img__6 {
    background: url('/img/price/bg1.jpg') center center no-repeat;
}

.price__heading {
    color: #221f1f;
    font-family: "Gotham Pro";
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
}

.partners-block__item {
    list-style: none;
    display: inline-block;
    width: 30%;
    margin-right: 120px;
    margin-right: 14px;
    margin-bottom: 40px;
    filter: grayscale(100%);
}

.partners-block__item:hover {
    filter: grayscale(0);
}