@import url('/css/fonts/fonts.css');
@import url('/css/general/general.css');
@import url('/css/header/header.css');
@import url('/css/menu/menu.css');
@import url('/css/section-comments/lastnews-block.css');
@import url('/css/pagination/pagination.css');
@import url('/css/footer/footer.css');


.price__list {
    padding-left: 0;
}

.price__item {
    margin-right: 35px;
    list-style: none;
    display: inline-block;
    width: 252px;
    margin-top: 0;
    margin-bottom: 35px;
    vertical-align: top;
}

.price__item-block__img {
    width: 250px;
    height: 153px;
}

.price__item-block__img-text {
    line-height: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #5dd1f8;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}
.price_item-block_img-text_correct {
    line-height: normal;
    padding-top: 30px;
}

.price__item-block__img-text>span {
    font-size: 24px;
    color: deeppink;
}
.bg1 {
    background-image: url('/img/price/bg1.jpg');
}

.bg2 {
    background-image: url('/img/price/bg2.jpg');
}

.bg3 {
    background-image: url('/img/price/bg3.jpg');
}

.bg4 {
    background-image: url('/img/price/bg4.jpg');
}

.bg5 {
    background-image: url('/img/price/bg5.jpg');
}

.bg6 {
    background-image: url('/img/price/bg6.jpg');
}

.opacity__bg {
    background-color: rgb(39, 39, 62);
    opacity: 0.851;
    height: 100%;
    width: 100%;
}

.price__item-block__text {
    text-align: center;
    font-weight: 300;
    margin-top: 0;
}

.price__item-block__text-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}
.price__item-block__text-text {
    margin-top: 0;
}

.partners-block__list {
    padding-left: 0;
}

.partners-block__item {
    list-style: none;
    display: inline-block;
    width: 30%;
    margin-right: 120px;
    margin-right: 14px;
    margin-bottom: 40px;
    filter: grayscale(100%);
}

.partners-block__item:hover {
    filter: grayscale(0);
}