.footer {
    position: absolute;
    height: 77px;
    padding-top: 10px;
    margin-top: -50px;
    width: 100%;
    background-color: #27273e;
    font-weight: normal;
    color: #fff;
    overflow: hidden;
}

.footer__block-address__text {
    margin-top: 0;
    float: left;
    width: 33.3%;
    height: 100%;
}

.footer__block-address__text-link {
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footer__block-address__text-link:hover {
    color: #ec1e79;
}

.footer__block-logo {
    width: 33.3%;
    float: left;
    text-align: center;
}

.footer__block-social {
    width: 33.3%;
    display: inline-block;
    padding-bottom: 0;
}

.footer__block-social__text {
    margin-top: 0;
    text-align: right;
    font-weight: bold;
    padding-bottom: 0;
}

.footer__block-social__list {
    margin-top: 0;
    padding-top: 0;
    float: right;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer__block-social__item {
    text-align: center;
    display: inline-block;
}

.block-social__item__link {
    width: 25px;
    height: 25px;
    display: block;
    background: url('../../img/social/social_sprite.png') 0px 0px no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.link_vk {
    background-position: 0px -40px;
}

.link_vk:hover {
    background-position: 0px 0px;
}

.link_fb {
    background-position: -30px -40px;
}

.link_fb:hover {
    background-position: -30px 0px;
}

.link_google {
    background-position: -66px -40px;
}

.link_google:hover {
    background-position: -66px 0px;
}

.link_tw {
    background-position: -103px -40px;
}

.link_tw:hover {
    background-position: -103px 0px;
}

.link_mail {
    background-position: -140px -40px;
}

.link_mail:hover {
    background-position: -140px 0px;
}

/* .footer__block-social__item__link {
    font-size: 0;
    margin-left: 25px;
}

.footer__block-social__item__circle {
    width: 20px;
    height: 20px;
    background-color: #d4d4d8;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.footer__block-social__item__circle:hover {
    background-color: #ec1e79;
}

.footer__block-social__item__circle__img {
    margin-top: 4px;
}

.facebook_correct {
    margin-top: 2px;
} */