.main-header {
    /* background: linear-gradient(to bottom top, #2d2941, #27273e); */
    background-color: #2d2941;
    padding-top: 3px;
    padding-left: 0;
}

.main-header__block-logo {
    width: 120px;
    height: 66px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
}

.main-header__block-logo__link {
    display: block;
}

.main-header__block-logo__link-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.main-header__info {
    float: right;
    text-align: right;
    font-size: 14px;
    font-family: Open-Sans;
    font-weight: 500;
}

.main-header__info__phone {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-top: 2px;
    letter-spacing: 0.6px;
}

.main-header__info__work {
    color: #c02169;
    transition-duration: 0.5s;
}

.main-header__info__work:hover {
    color: #808eb8;
}

.main-header__bg {
    margin-bottom: 28px;
}

.main-header__bg__img {
    width: 100%;
    height: 100%;
}