.main-header {
    /* background: linear-gradient(to bottom top, #2d2941, #27273e); */
    background-color: #2d2941;
    padding-top: 3px;
    padding-left: 0;
}

.main-header__block-logo {
    width: 120px;
    height: 66px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
}

.main-header__block-logo__link {
    display: block;
}

.main-header__block-logo__link-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.main-header__info {
    float: right;
    text-align: right;
    font-size: 14px;
    font-family: Open-Sans;
    font-weight: 500;
}

.main-header__info__phone {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-top: 2px;
    letter-spacing: 0.6px;
}

.main-header__info__work {
    color: #c02169;
    transition-duration: 0.5s;
}

.main-header__info__work:focus {
    /* color: #808eb8; */
    display: visible;
    width: 164px;
    height: 70px;
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
    border: 1px solid slategray;
    border-radius: 3px;
    position: absolute;
    z-index: 111;
    background: #fff;
    left: 915px;
    top: 77px;
}

.schedule_dropped:hover {
    display: visible;
    width: 164px;
    height: 70px;
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
    border: 1px solid slategray;
    border-radius: 3px;
    position: absolute;
    z-index: 111;
    background: #fff;
    left: 915px;
    top: 77px;
}

.dropdown__shedule {
    display: none;
    width: 164px;
    height: 70px;
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
    border: 1px solid slategray;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    background: #fff;
    left: 930px;
    top: 77px;
}

.dropdown__shedule:before {
    display: block;
    left: 0;
    right: 0;
    top: 75px;
    height: 30px;
    position: absolute;
    border: 2px solid yellow;
}

.dropdown__schedule_triangle {
    width: 18px;
    height: 18px;
    border-right: 1px solid slategray;
    border-bottom: 1px solid slategray;
    position: relative;
    left: 130px;
    top: -10px;
    background: #fff;
    /* transform: rotate(225deg); */
}

.dropdown__list {
    float: left;
    list-style: none;
    padding: 0;
    padding-left: 11px;
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 17px;
    line-height: 18px;
}

.dropdown__item1 {
    color: #ec1e79;
    font-weight: 700;
}

.dropdown__item2 {
    text-align: left;
}

.main-header__bg {
    margin-bottom: 28px;
}

.main-header__bg__img {
    width: 100%;
    height: 100%;
}